body{
    width: auto;
    height: 100rem;
    margin: 0;
    padding: 0;
    background-color: rgb(177, 205, 237);
}

/*header*/
header{
    width: 100%;
    height: 75rem;
    margin: 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
    position: relative;
}

/*From: https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
    /* The image used */
    background-image: url("./Pictures/blueBuilding.jpg");
    min-height: 40rem;

    /* Full height */
    width: 100%;
    height: 50rem;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

/*Name design*/
.positionH1{
    width: 20rem;
    height: 10rem;
    position: relative;
    left: 40.5%;
    top: 15%;
}

/*Code from: https://css-tricks.com/set-text-on-a-circle/*/
h1 span{
    width: 4rem;
    height: 28rem;
    font: 2rem Monaco, MonoSpace, bold;
    color: aliceblue;
    transform-origin: bottom center;
    position: absolute;
    left: 9rem;
    top: 0;
}

.let1{
    transform: rotate(-48deg);
}
.let2{
    transform: rotate(-42deg);
}
.let3{
    transform: rotate(-36deg);
}
.let4{
    transform: rotate(-30deg);
}
.let5{
    transform: rotate(-24deg);
}
.let6{
    transform: rotate(-12deg);
}
.let7{
    transform: rotate(-6deg);
}
.let8{
    transform: rotate(0deg);
}
.let9{
    transform: rotate(6deg);
}
.let10{
    transform: rotate(12deg);
}
.let11{
    transform: rotate(18deg);
}
.let12{
    transform: rotate(24deg);
}
.let13{
    transform: rotate(30deg);
}
.let14{
    transform: rotate(36deg);
}
.let15{
    transform: rotate(42deg);
}
.let16{
    transform: rotate(48deg);
}
.let17{
    transform: rotate(54deg);
}

.pictureBackground{
    width: 28rem;
    height: 40rem;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.247);
    display: flex;
    box-sizing: border-box;
    position: relative;
    left: 46rem;
    bottom: 30rem;
}

.mainPicture{
    width: 24rem;
    height: 32.5rem;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 28, 49);
    display: flex;
    box-sizing: border-box;
    position: relative;
    left: 2rem;
    top: 2rem;
}

/*Grid*/
main{
    width: 100%;
    height: 80rem;
    box-sizing: border-box;
    position: relative;
}

.title{
    width: 8rem;
    height: 2rem;
    color: black;
    font-size: 2rem;
    box-sizing: border-box;
    position: relative;
    left: 3rem;
}

/*AboutMe*/
.aboutMe{
    width: 95%;
    height: 0.1rem;
    background-color: rgb(5, 28, 49);
    box-sizing: border-box;
    position: relative;
    left: 3rem;
}

.text{
    width: 95%;
    height: auto;
    font-size: 1.5rem;
    color: rgb(5, 28, 49);
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    top: 2rem;
    left: 3rem;
}

/* Gray Scale*/
.picContainer{
    width: 90%;
    height: auto;
    text-align: center;
    display: flex;
    position: relative;
    top: 4rem;
    left: 5rem;
}

.picture{
    width: 16rem;
    height: auto;
    margin: 0;
    position: relative;
}

.span{
    font-size: 1rem;
    color: rgb(5, 28, 49);
}

/*Code from: https://codepen.io/nxworld/pen/ZYNOBZ*/
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/*Education*/

/*Projects*/

/*footer*/
